@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
.border-radius-styles {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  z-index: 1000;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  position:absolute;
  top:130px;
  bottom:0;
  height: 300px;
  width:100%;
}
.map-main {
  margin-top: -50px;
}
div .leaflet-top,  div .leaflet-bottom {
  z-index: 600;
   padding-top: 100px;
}
/* ====================== Restaurant Filtering ====================== */
#main-section {
  margin-top: -40px;
}
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #3397DB;
  align-items: center;
  padding: 8px 0;
  position: relative;
  z-index: 1000;
  top: -80px
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 8px 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin-top: -80px;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  max-width: 460px;
  width: 75%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: calc(100% + 60px);
  min-height: 248px;
  position: relative;
  right: 30px;
}
.restaurant-img {
  -webkit-border-top-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  border-top-left-radius: 25px;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#map-container {
  height: 300px;
}
.inside #footer {
  bottom: 0;
  position: relative;
}
#map-border {
  position: absolute;
  top: 430px;
  height: 51px;
  width: 100%;
  background-color: #252830;
  color: #fff;
  text-align: center;
  justify-content: center;
  font-size: 7pt;
  font-weight: 200;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
}
#map-border h1 {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#restaurant-container {
  margin-top: 100px;
  padding-top: 30px;
}
#restaurant-img {
  width: 100%;
  -webkit-border-top-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  border-top-left-radius: 25px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}
#reviews-container {
  margin-top: 20px;
  border: none;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin-top: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li div p {
  margin: 0 0 10px;
  color: #fff;
  display: inline-block;
  font-size: 1.6em;
  padding-top: 0.6em;
}
#reviews-list li div span {
  float: right;
  padding-top: 1.4em;
  color: rgba(255, 255, 255, 0.65);
}
.review-title {
  background-color: #333333;
  color: #fff;
  width: 100%;
  position: relative;
  right: 30px;
  padding: 0.4em 30px;
}
.rating {
  background-color: #FFA500;
  color: #fff;
  display: inline-block;
  padding: 0.4em 1em;
  letter-spacing: 0.15em;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 1.5em;
}
.review-text {
  line-height: 1.75em;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 0;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */

@media only screen and (min-width: 600px) {

  #map-border {
    letter-spacing: 8px;
    height: 51px;
  }
  #restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
  }
  #restaurants-list li {
    margin-bottom: 30px;
    width: calc(50% - 90px);
  }

/* ================ Restaurant Pages ================ */

  #restaurant-container,
  #reviews-container {
    margin-left: auto;
    margin-right: auto;
  }
  #restaurant-container {
    max-width: 600px;
    margin-top: 100px;
    width: 100%;
  }
  #restaurant-address,
  #reviews-container h2 {
    text-align: center;
  }
  #restaurant-container img {
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
  }
  #restaurant-cuisine {
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #restaurant-hours {
    margin: auto;
  }
  #restaurant-hours tr td {
    font-size: 1.4em;
  }
  #reviews-container {
    max-width: 800px;
    width: 100%;
  }
  #reviews-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    width: 100%;
    padding: 15px;
  }
  #reviews-container ul li {
    width: calc(50% - 90px);
    margin: 0 15px 30px;
  }
  #reviews-container ul:last-child,
  #main-section ul:nth-last-child(-n+2) {
    justify-content: center;
  }
}

@media only screen and (min-width: 926px) {
  #main-section {
    width: 100%;
  }
  .filter-options {
    padding-left: 60px;
  }
  #restaurants-list {
    max-width: 926px;
    padding-left: calc((100% - 926px) / 2);
    padding-right: calc((100% - 926px) / 2);
    margin: -60px auto auto;
  }
  #restaurants-list li {
    width: calc(33.33% - 90px);
  }
}